.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: none;
  font-family: 'Mitr', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 9999;
}

.failure {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display: none;
  font-family: 'Mitr', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 9999;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  display: none;
  font-family: 'Mitr', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 9999;
}

.warning-palavra-invalida {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  display: none;
  font-family: 'Mitr', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 9999;
}

body {
  font-family: 'Mitr', sans-serif;
  min-height: 600px;
  background-color: #6e5c62;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  caret-color: transparent;
}

input:focus {
  outline: none;
  border-bottom: 0.45em solid #4C4347 !important;
}

.letras-brutas {
  background-color: transparent;
  border: 0.125em solid #4C4347;
  border-bottom-color: rgb(76, 67, 71);
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  margin-right: 5;
  border-radius: 10px;
  text-align: center;
  font-family: 'Mitr', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  height: 50px;
  width: 50px
}

.letras-certas {
  background-color: #3aa394;
  border: 0.125em solid #4C4347;
  border-bottom-color: rgb(76, 67, 71);
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  margin-right: 5;
  border-radius: 10px;
  text-align: center;
  font-family: 'Mitr', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  height: 50px;
  width: 50px
}

.letras-inexistentes {
  background-color: #312a2c;
  border: 0.125em solid #4C4347;
  border-bottom-color: rgb(76, 67, 71);
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  margin-right: 5;
  border-radius: 10px;
  text-align: center;
  font-family: 'Mitr', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  height: 50px;
  width: 50px
}

.letras-erradas {
  background-color: #d3ad69;
  border: 0.125em solid #4C4347;
  border-bottom-color: rgb(76, 67, 71);
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  margin-right: 5;
  border-radius: 10px;
  text-align: center;
  font-family: 'Mitr', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  height: 50px;
  width: 50px
}

.page-title {
  color: #fafaff;
  font-family: 'Mitr', sans-serif;
  font-weight: 600;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.board {
  margin-right: 50px;
  /* Adiciona margem à direita da primeira div */
  margin-left: 50px;
  /* Adiciona margem à esquerda da segunda div */
  justify-content: center;
}

.linha {
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  width: 200px;
  margin: auto;
  justify-content: center;
  background-image: url('images/backgrounds.png');
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: white;
  font-family: 'Mitr', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #5a3e48;
  display: block;
  position: relative;
  padding: 15px 35px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #3a252d;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #3a252d;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #3a252d;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #a05046;
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:nth-of-type(5) {
  display: none;
}

.btnReiniciarPartida {
  display: none;
}
